.nav ul>li>a{
    color: white;
}
.nav ul li{
    display: inline-block;
    margin-left: 60px;
}
.navbar__wrap{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo{
    width: 50px;
    cursor: pointer;
}